@mixin heading-font($font-size: 1.2em) {
  color: darken($orange, 20%);
  font: {
    family: $font-two;
    size: $font-size;
    weight: bold;
  }
}

@mixin contrast($background-color) {
  @if $background-color == $yellow or $background-color == $red {
    color: $green;
  }
  @else if lightness($background-color) < 50% {
    color: $yellow;
  } @else {
    color: #333;
  }
}
