$font-two: 'Consolas', monaco, monospace;

$colors: (
  green: #468966,
  yellow: #fff0a5,
  orange: #ffb03b,
  red: #b64926
);

$green: #468966;
$yellow: #fff0a5;
$orange: #ffb03b;
$red: #b64926;

$sat: 50;
$light-blue: hsla(200, $sat, 50, .5);

$string: " SCSS";
$number: 1 * 2em;
$bol: false;
$list: one, two, three;

$var: ' Noelle';
