@import "normalize";
@import "variables.scss";
@import "mixins.scss";

@function brighten($color, $alpha) {
  @return hsla( hue($color), 75, lightness($color), $alpha);
}

%corners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

h1 {
  @include heading-font($number);
  &:after {
    content: $var;
  }
}

h2 {
  @include heading-font;
  color: $green;
}

a {
  text-decoration: none;
}

section {
  .link {
    font-family: $font-two;
    background: lighten($green, 10%);
    display: block;
    padding: 5px 10px;
    margin: 10px 0;
    @extend %corners;
  }

  article {
    background-color: lighten($yellow, 10%);
    padding: 5px 10px;
    margin: 10px;
    @extend %corners;

    h2 { color: brighten($red, .5); }
    p { @include contrast($yellow); }
    &#article-1 { font-family: $font-two; }

    &#article-2 {
      a {
        &:hover {
          text-decoration: line-through;
        }
      }
    }

    body &#article-2:hover {
      background-color: brighten($orange, .1);
    }
  }
}
